/export/*
/log/*
/modules/*
/out/*
/core/*
/admin/*
/tmp/*
/views/*
/setup/*
/COPYING
/config.inc.php
/favicon.ico
/index.php
/offline.html
/oxid.php
/oxseo.php
/pkg.rev
/robots.txt
/xd_receiver.htm
.tmp*
/.project
/.idea
/.settings/org.eclipse.core.resources.prefs
*.*~
/Admin 2.0/*
/atlassian-ide-plugin.xml