/admin/*
/core/*
/export/*
/log/*
/modules/*
/out/admin/*
/out/azure/*
/out/basic/*
/out/de/*
/out/en/*
/out/media/*
/out/pictures/*
/tmp/*
/views/*
/setup/*
/COPYING
/config.inc.php
/favicon.ico
/index.php
/offline.html
/oxid.php
/oxseo.php
/pkg.rev
/robots.txt
/xd_receiver.htm
.tmp*
/.project
/.idea
/.settings/org.eclipse.core.resources.prefs
*.*~
