body {
    background:white;
    font-size:12px;
    font-family:Helvetica, Arial, Verdana, sans-serif;
    line-height:24px;
}

header#oxhead {
    width:100%;
    height:80px;
    -moz-box-shadow: 0 3px 2px #888888;
    -webkit-box-shadow: 0 3px 2px #888888;
    box-shadow: 0 3px 2px #888888;
    position:fixed;
    top:0;
    z-index:1000;
    overflow:hidden;
}

.oxidinfo {
    width:100%;
    height:40px;
    background:#FF3600;
    -moz-box-shadow: 0 3px 2px #888888;
    -webkit-box-shadow: 0 3px 2px #888888;
    box-shadow: 0 3px 2px #888888;
    top:0;
    z-index:500;
    overflow:hidden;
}

div#main {
    margin:95px 0 30px;
}

nav#main {
    background:#DFE5DD;
    width:100%;
    height:40px;
    -moz-box-shadow: 0 3px 2px #888888;
    -webkit-box-shadow: 0 3px 2px #888888;
    box-shadow: 0 3px 2px #888888;
    overflow:hidden;
    color:white;
}

nav#main ul {
    padding:0;
    margin:10px;
    padding:0;
    margin:0;
    float:right;
    display:block;
}

nav#main ul li {
    padding:0;
    margin:0;
    display:block;
    float:left;
    width:50px;
    text-align:center;
}

nav#main ul li a {
    display:block;
    color:white;
    padding:10px;
    text-decoration:none;
    color:#111111;
}

div.oxidinfo img.oxlogo {    
    float:left;
    height:30px;
    padding:5px;
}

div.oxidinfo .oxidversion {
    color: white;
    float: right;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 8px;
    text-transform: uppercase;
    font-size:13px;
}

aside {
    float:left;
    width:50px;
    position:fixed;
}

aside nav ul {
    list-style:none;
    padding:0;
    margin:0;
}

aside nav ul  li {
    padding:5px;
    display:block;
    background:url("icons/dortmund/32x32/publish.png") no-repeat scroll 4px 4px #DFE5DD;
    -moz-box-shadow: 0 3px 2px #888888;
    -webkit-box-shadow: 0 3px 2px #888888;
    box-shadow: 0 3px 2px #888888;
    margin:0 0 10px 0;
    width:30px;
    height:30px;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    text-indent:999px;
    overflow:hidden;
}

aside nav ul ul {
    display:none;
}

#content {
    margin-left:60px;
}

.listentry {
    background: none repeat scroll 0 0 #DFE5DD;
    border: 1px solid silver;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    margin: 0 20px 10px 0;
    width: 99%;
}

.listentry  header{
    background:url("icons/dortmund/16x16/publish.png") no-repeat scroll 4px 7px transparent;
    padding:4px 28px;
    cursor:pointer;
    height:21px;
    overflow:hidden;
}

.listentry header h1 {
    float:left;
    width:150px;
}

.listentry header p.details {
    display:block;
    float:left;
    width:400px;
}

.listentry section.quickedit {
    border-top:solid 1px silver;
    display:none;
    padding: 10px 10px 10px 28px;
    height:150px;
}

footer {
    width:100%;
    height:22px;
    -moz-box-shadow: 0 -3px 2px #888888;
    -webkit-box-shadow: 0 -3px 2px #888888;
    box-shadow: 0 -3px 2px #888888;
    position:fixed;
    bottom:0;
    z-index:1000;
    overflow:hidden;
    text-align:center;
    background:#DFE5DD;
}

/*
 * Definition for the fields
 */

label {
    clear:both;
    float:left;
    font-weight:bold;
    width:80px;
}

select,
input,
textarea {
    width:300px;
    float:left;
}

input[type="submit"] {
    margin-left:80px;
}

.group {
    border-right: 1px solid silver;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}

.group.last {
    border:none;
}


    
    