body {
    background:white;
    font-size:12px;
    font-family:Helvetica, Arial, Verdana, sans-serif;
    line-height:24px;
}

header#oxhead {	
    width:100%;
    height:42px;
	background:white;
    position:fixed;
    top:0;
    z-index:1000;
    overflow:hidden;
	border-top:solid 5px #ff3600;
}

header#oxhead .oxidversion {
	text-transform:uppercase;
	color:#ff3600;
	float:right;
	font-size:13px;
	margin:8px 15px 0;
}

nav#main{
    background: -moz-linear-gradient(#E0E0E0, #B1B1B1);
    background: -ms-linear-gradient(#E0E0E0, #B1B1B1);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E0E0E0), color-stop(100%, #B1B1B1));
    background: -webkit-linear-gradient(#E0E0E0, #B1B1B1);
    background: -o-linear-gradient(#E0E0E0, #B1B1B1);
    background: linear-gradient(#E0E0E0,#B1B1B1);
	border-bottom:solid 1px #AAA;
	position:fixed;
	top:47px;
	width:100%;
	height:28px;
}

nav#main .title {
	float:left;
	text-transform:uppercase;
	text-shadow:0 0 1px white;
	color:#646464;
	font-weight:bold;
	font-size:12px;
	display:block;
	margin:4px 10px;
}

nav#main ul {
	float:right;
	display:block;
}

nav#main ul li {
	float:left;
	display:block;
	border-left:solid 1px #AAA;
}

nav#main ul li a {
    border-left: 1px solid #DEDEDE;
    color: #646464;
    display: block;
    padding: 4px 20px 2px 35px;
    text-decoration: none;
    text-shadow: 0 0 1px white;
}

nav#main ul ul {
	display:none;
}

nav#main ul li.favorites {
	background:url("bg/sprite.png") no-repeat scroll 10px 8px transparent;
}

nav#main ul li.help {
	background:url("bg/sprite.png") no-repeat scroll 10px -24px transparent;
}

nav#main ul li.logout {
	background:url("bg/sprite.png") no-repeat scroll 10px -55px transparent;
}

nav#main ul li a.hassub {
	background:url("bg/sprite.png") no-repeat scroll right 8px transparent;
}

aside nav {
	float:left;
}

aside nav ul {
	display:block;
	width:57px;
	background:#EBEBEB;
}

aside nav li {
	display:block;
	height:59px;
	border-bottom:solid 1px white;
	position:relative;
}

aside nav li > a {
	text-indent:-999px;
	display:block;
	height:58px;
	border-bottom: 1px solid #CBCBCB;
}

aside nav ul li:hover a {
	background:white;
	z-index:10;
	box-shadow:-6px 0 5px rgba(0,0,0,0.7);
	position:relative;
	top:0;
}

aside nav li.orders > a {
	background:url("bg/sprite.png") no-repeat scroll 7px -184px transparent;
}
aside nav li.products > a {
	background:url("bg/sprite.png") no-repeat scroll 7px -131px transparent;
}
aside nav li.marketing > a {
	background:url("bg/sprite.png") no-repeat scroll 7px -242px transparent;
}
aside nav li.user > a {
	background:url("bg/sprite.png") no-repeat scroll 7px -300px transparent;
}
aside nav li.settings > a {
	background:url("bg/sprite.png") no-repeat scroll 7px -359px transparent;
}

aside nav li.orders:hover > a,
aside nav li.orders > a.active {
	background:url("bg/sprite.png") no-repeat scroll -64px -184px white;
}
aside nav li.products:hover > a,
aside nav li.products > a.active {
	background:url("bg/sprite.png") no-repeat scroll -65px -131px white;
}
aside nav li.marketing:hover > a,
aside nav li.marketing > a.active {
	background:url("bg/sprite.png") no-repeat scroll -64px -242px white;
}
aside nav li.user:hover > a,
aside nav li.user > a.active {
	background:url("bg/sprite.png") no-repeat scroll -64px -300px white;
}
aside nav li.settings:hover > a,
aside nav li.settings > a.active {
	background:url("bg/sprite.png") no-repeat scroll -64px -359px white;
}

aside nav li a.active {
	background-color:white;
}

aside nav ul ul {
	position:absolute;
	left:57px;
	top:-1px;;
	background-color:white;
	z-index:5;
	border:solid 1px #CBCBCB;
	border-left:white;
    box-shadow:	0 0 5px rgba(0,0,0,0.7);
	width:158px;
	display:none;
	min-height:100px;
}

aside nav ul li:hover ul {
	display:block;
}

aside nav ul ul li {
	position:static;
	height:auto;
}

aside nav ul ul li a{
	display:inline;
	text-decoration:none;
	color:#656565;
	margin-left:10px;
	padding-left:10px;
	font-weight:bold;
	box-shadow:none !important;
	border:none;
}

aside nav ul ul li.active a,
aside nav ul ul li:hover a {
	background: url("bg/sprite.png") no-repeat scroll -144px -1px transparent;
}
aside nav ul ul li.grouptitle{
	color:#ff3600;
	text-transform:uppercase;
	font-size:14px;
	margin:17px 0 5px 10px;
}

div#main {
	margin-top:77px;
}

div#content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin-left: 57px;
    position: relative;
    z-index: 1;
    min-height:600px;
}

div#listfilter {
	background:#F1F0EE;
	height:59px;
	padding-left:20px;
}

div#addnew {
	height:44px;
	padding:15px 0 0 20px;
}

a.btn {
	background: -moz-linear-gradient(#A09C96, #7A7772);
    background: -ms-linear-gradient(#A09C96, #7A7772);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A09C96), color-stop(100%, #7A7772));
    background: -webkit-linear-gradient(#A09C96, #7A7772);
    background: -o-linear-gradient(#A09C96, #7A7772);
    background: linear-gradient(#A09C96,#7A7772);
	border-radius: 3px 3px 3px 3px;
    color: white;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    text-shadow: 0 0 2px #555555;
}

a.btn.addnew span{
	display:inline-block;
	text-indent:-999px;
	overflow:hidden;
	width:10px;
	height:11px;
	background: url("bg/sprite.png") no-repeat scroll right -36px transparent;
	margin: 0 0 -1px 5px;
}

div#quickeditlist,
div#quickeditadditional {
	width:570px;
	float:left;
	padding:0 0 20px 20px;
}

section.listentry {
	border:solid 1px #D7D7D7;
	background:#F6F5F4;
	border-radius:3px;
    margin-bottom:10px;
    color:#666;
}

section.listentry header {
	background: -moz-linear-gradient(#F0F0F0, #DDDDDD);
    background: -ms-linear-gradient(#F0F0F0, #DDDDDD);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(100%, #DDDDDD));
    background: -webkit-linear-gradient(#F0F0F0, #DDDDDD);
    background: -o-linear-gradient(#F0F0F0, #DDDDDD);
    background: linear-gradient(#F0F0F0, #DDDDDD);
	padding:3px;
    cursor:pointer;
}

section.listentry header h2,
section.listentry header h1 {
    color:#666;
    text-shadow:0 0 1px white;
}
section.listentry header h1 {
    text-transform:uppercase;
}

section.listentry.active header h2,
section.listentry.active.outoftime header h2,
section.listentry.inactive header h2 {
    background: url("bg/sprite.png") no-repeat scroll -235px -184px transparent;
    float: left;
    padding: 0 0 0 30px;
    width: 180px;
}

section.listentry.active.outoftime header h2 {
    background-position:-235px -264px;
}

section.listentry.inactive header h2 {
    background-position:-235px -224px;
}

section.listentry span.price {
    float:left;
    display:block;
    width:80px;
    font-weight:bold;
    color:#666;
    text-align:right;
}

section.listentry header ul {
	float:right;
	width:85px;
    margin-top: 4px;
    display:none;
}

section.listentry header.open ul,
section.listentry header:hover ul {
    display:block;
}

section.listentry header ul li {
	float:left;
	display:block;
	width:17px;
	height:17px;
	margin-left:10px;
}

section.listentry header ul li a {
	display:block;
	text-indent:-999px;
	overflow:hidden;
	height:17px;
	background: url("bg/sprite.png") no-repeat scroll -144px -1px transparent;
	width:17px;
	float:left;
}

section.listentry header ul li a.preview {
	background-position: -239px -159px;
}
section.listentry header ul li a.edit {
	background-position: -269px -159px;
}

section.listentry header ul li a.delete {
	background-position: -292px -159px;
}

section.listentry header form,
section.listentry header form * {
    display:none;
}

section.quickedit {
    display:none;
}

section.quickedit fieldset {
    padding:10px;
    border-bottom:1px solid #D7D7D7;
}

section.quickedit fieldset.last {
    border:none;
}

section.quickedit label,
section.quickedit span {
    display:block;
    float:left;
    margin:0 5px;
}

section.quickedit label.main {
    width:80px;
    text-align:right;
}

section.quickedit input,
section.quickedit select,
section.quickedit textarea {
    float:left;
}
section.quickedit input.broad,
section.quickedit select.broad,
section.quickedit textarea.broad {
    width:400px;
}
section.quickedit input.small,
section.quickedit select.small,
section.quickedit textarea.small {
    width:50px;
}

section.quickedit input[type=submit] {
    margin-left:90px;
}

#dashboard ul {
    margin: 0 10px;
    margin: 0 10px;
}

#dashboard ul li {
    padding-left:10px;
    background: url("bg/sprite.png") no-repeat scroll -145px 4px transparent;
    display:block;
    width:200px;
}

#dashboard section.content h1 {
    padding:10px 0 0 10px;
    color:#333;
}